{% extends 'base.html' %}

{% load static %}

{% block title_name %}
    Подробнее о доме
{% endblock %}

{% block content %}
<div class="p-3">
    <h1>Подробнее о {{ object.name }}</h1>
    <table class="table table-bordered my-2">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Стоимость</th>
            <th>Застройщик</th>
            <th>Сервис, включенный в стоимость</th>
            <th>Изображение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ object.name }}</td>
            <td>
                {% if object.description %}
                    {{ object.description }}
                {% else %}
                    Описание отсутствует
                {% endif %}
            </td>
            <td>{{ object.price }} руб.</td>
            <td>{{ object.developer.name }}</td>
            <td>
                <ul>
                    {% for service in object.service.all %}
                        <li>{{ service.name }}</li>
                    {% empty %}
                        <li>Нет доступных услуг</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" class="card-img-top" alt="...">
                {% else %}
                    <img src="{% static 'shop/image/no_photo.jpg' %}" class="card-img-top" alt="...">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'house_list' %}" class="btn btn-outline-dark my-2">Обратно к каталогу домов</a>
</div>
{% endblock %}